<div class="card">

    <div class="container"></div>
    <!-- <h1>Instruction</h1> -->
    <nav>Instructions</nav>


    <ul>
        <li>Welcome to Online Exam for General Aptitude Exam</li>
        <li>Exam has Total 10 Questions</li>
        <li>Negativ Marking Exam: No</li>
        <li>Total duration of examination is 30 minnutse</li>
        <li>Click on bottom start button to start the Examination </li>

    </ul>
    <h1>Best Of Luck For Your Exam</h1>
    <button (click)="startexam()">Start</button>