<body>

    <div class="container">
        <div class="question-card" *ngFor="let question of qustionList">
            <form>
                <div >
                    <div class="question">
                        <p>{{question.question}}</p>
                    </div>
                    <div class="options">
                        <div class="option">
                            <label class="radio-label">
                                <input type="radio" name="q1" value="a">
                                {{question.option1}}
                            </label>
                        </div>
                        <div class="option">
                            <label class="radio-label">
                                <input type="radio" name="q1" value="b">
                                {{question.option2}}
                            </label>
                        </div>
                        <div class="option">
                            <label class="radio-label">
                                <input type="radio" name="q1" value="c">
                                {{question.option3}}
                            </label>
                        </div>
                        <div class="option">
                            <label class="radio-label">
                                <input type="radio" name="q1" value="d">
                                {{question.option4}}
                            </label>
                        </div>
                    </div>
                    <div class="nav-buttons">
                        <button style="background-color: #007BFF;">Previous</button>
                        <button style="background-color:#28A745" (click)="readsinglequestion()">Next</button>
                        <button style="background-color:#DC3545">Finish</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="question-nav">
            <h2>Question Navigation</h2>
            <ul>
                <li><a href="#">1</a></li>
                <!-- Add more question links here -->
            </ul>
        </div>
    </div>

</body>