/* Style the card container */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.card {
  display: flex;
  background-image: linear-gradient(to right, #00bfe0 0, #4780d8 50%, #00bfe0 100%);
  height: 62vh;
  text-align: left;
  color: #fff;
  padding: 20px;
  display: block;
}

/* Style the image container on the right */
.image {
  flex: 1;
  float: inline-end;
}

.image img {
  width: 100%;
  height: auto;
  display: block;
  height: 54vh;
  height: 54vh;
  float: right;
  /* margin-top: 28px; */
  margin-right: 27px;
  width: 180%;
}

/* Style the content container on the left */
.content {
  flex: 1;
  /* Make the content container take up 1/2 of the card's width */
  margin: 20px;
  /* Add margin to the content container */
}


.card h1 {
  font-size: 2em;
  margin: 0;
  position: absolute;
  translate: 50px 49px;
  color: bisque;
}

.card p {
  font-size: 1.2em;
  margin: 10px 0;
  line-height: 1.5;
  position: absolute;
  translate: 0px 108px;
  color:black;
}

div {
  padding: 20px;
}

.new-card {
  background-color: #fff; /* Set background color for the new card */
  margin-top: 20px; /* Adjust the margin as needed */
  display: flex;
}

.new-card .image {
  flex: 1;
}

.new-card .image img {
  width: 7%;
  height: auto;
  display: block;
  margin: left
  ;
}

.new-card .content {
  flex: 1;
  padding: 20px;
  position: relative; /* Position relative for absolute positioning of content */
}

/* Add styles for the new card's content */
.new-card h2 {
  font-size: 1.5em;
  color: #333; /* Set text color for the new card */
  position: absolute; /* Position absolute to place it over the image */
  top: 50%; /* Center vertically */
  transform: trans
  lateY(-50%); /* Adjust for centering */
}
.container{
  display:flex;
 
}
.col2 img{
  width: 50%;
  height: auto;
 

}

.col1 {
  margin-left:  -100px;
}

