
<div class="card shadow p-3">
    <form (ngSubmit)="addquestion()">

      <!-- <div class="form-group">
        <label for="question id">Question Id</label>
        <input type="text" class="form-control" id="question" name="uquestion" [(ngModel)]="questiondata.questionId"
          #uquestion="ngModel">
      </div> -->

      <!-- <div class="form-group">
        <label for="question">Question</label>
        <input type="text" class="form-control" id="question" name="uquestion" [(ngModel)]="questiondata.question"
          #uquestion="ngModel">
      </div> -->
    
      <!-- <div class="form-group">
        <label for="option1">Option 1</label>
        <input type="text" class="form-control" id="option1" name="uoption1" [(ngModel)]="questiondata.option1"
          #uoption1="ngModel">
      </div>
  
      <div class="form-group">
        <label for="option2">Option 2</label>
        <input type="text" class="form-control" id="option2" name="uoption2" [(ngModel)]="questiondata"
          #uoption2="ngModel">
      </div> -->
  
      <!-- <div class="form-group">
        <label for="option3">Option 3</label>
        <input type="text" class="form-control" id="option3" name="uoption3" [(ngModel)]="questiondata.option3"
          #uoption3="ngModel">
      </div>
  
      <div class="form-group">
        <label for="option4">Option 4</label>
        <input type="text" class="form-control" id="option4" name="uoption4" [(ngModel)]="questiondata.option4"
          #uoption4="ngModel">
      </div> -->
  
      <!-- <div class="form-group">
        <label for="correctAnswer">Correct Answer</label>
        <input type="text" class="form-control" id="correctAnswer" name="uanswer" [(ngModel)]="questiondata.answer"
          #uanswer="ngModel">
      </div> -->
  
      <!-- <div class="form-group">
        <label for="correctAnswer">Level</label> -->
        <!-- <input type="text" class="form-control" id="correctAnswer" name="uanswer" [(ngModel)]="detail.level"
          #uanswer="ngModel"> -->
          <!-- <select class="form-control" id="correctAnswer" name="uanswer" [(ngModel)]="questiondata.level" >
            <option >Basic</option>
            <option >Medium</option>
            <option >Advance</option>
          </select>
      </div> -->
  
      <button class="btn btn-primary btn-md" type="submit" id="addQuestion"  >Add Question</button>
  
    </form>