.card {
    margin: auto;
    background-color: whitesmoke;
    height: 98vh;
    width: 85%;
    margin-top: 26px;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    }
#addQuestion{
    margin-top: 18px;
    width: 158px;
}

