<body>
    <div class="container" style="height: 81vh;">
        <div class="card">
            <div class="container" style="padding: 0px;">
                <h1>Login </h1>
                <div class="credentials">
                    <label>username</label>
                    <input type="text" placeholder="Enetr your username">
                </div>
                <div class="credential2">
                    <label>Password</label>
                    <input type="text" placeholder="Enter your password"><br>
                </div>
                <button>
                    Login
                </button>
                <!-- <div class="li"></div>
            <label class="pass">Forgot Password?</label> -->

                <div class="forgotpass">
                    <a routerLink="/forget">Forgot Password ? </a>
                </div>
            </div>
        </div>
    </div>
</body>