<nav class="navbar navbar-expand-lg bg-body-secondary" id="mainnav">
  <div class="container-fluid" id="navbar" *ngIf="menuItem==='default'">
    <div id="mySidebar" class="sidebar" [ngStyle]="sidebarStyles">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
      <a routerLink="home">Home</a>
      <a routerLink="contactUs">Contact</a>
    </div>
    <div id="main">
      <button class="openbtn" (click)="openNav()">&#9776;</button>
    </div>
    <div class="rightlink">
      <a routerLink="login" class="loginlink">Login</a>
      <a routerLink="register" class="registerlink">Register</a>
    </div>
  </div>


  <div class="container-fluid" id="navbar" *ngIf="menuItem==='user'">
    <div id="mySidebar" class="sidebar" [ngStyle]="sidebarStyles">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
      <a routerLink="">Home</a>
      <a routerLink="user-subject">Exams</a>

      <a routerLink="user-report">Profile</a>
      <a routerLink="user-update">update</a>
      <a routerLink="contactUs">Feed back</a>
    </div>
    <div id="main">
      <button class="openbtn" (click)="openNav()">&#9776;</button>
    </div>
    <div >
      <button class="registerlink" (click)="logout()">Logout</button>
    </div>
  </div>

  <div class="container-fluid" id="navbar" *ngIf="menuItem==='admin'" style="display: flex;
  justify-content: end">
      <button style="border: none;" class="registerlink" (click)="logout()">Admin</button>
  </div>

</nav>