* {
    box-sizing: border-box;
}


.examcard {
    /* height: 82vh; */
    /* width: 208px;
    margin: auto; */
}


.heading1 {
    font-size: 20px;
    color: #5eac1a;
    margin: 10px
}

.heading2 {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
}

.column {
   /* Update the width and remove the margin properties */
   width: calc(21.33% - 41px); /* 3 columns in a row with a 4px gap between them */
   box-sizing: border-box;
   display: inline-block; /* Use inline-block to align the columns in a row */
   margin-right: 30px; /* Add right margin for the gap */
   margin-left: 123px
}
.card-row:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Style the counter cards */
.card-row {
   /* Remove height and width properties and add margin-bottom */
   padding: 16px;
   background-color: whitesmoke;
   margin-bottom: 45px; /* Add bottom margin for the gap */
}

.row{
    margin-left: 70px;
}

.subname{
    float: right;
    color: #5eac1a;

}

 .sublogo{
    height: 56px;
    /* width: 115px;
    margin-top: -24px; */
}

.sublogo1{
    margin-left: 24px
} 



ul, li {
    margin: -11px;
    padding: -1px;
    list-style-type: circle;
    text-decoration: none;
    margin-top: 22px;
}

li {
    margin-bottom: 10px;
    white-space: nowrap;
    font-size: 1em;
    cursor: pointer;
}

.examlinks{
    text-decoration: none;
    color: black;
}

.examlinks:hover{
    text-decoration: underline;
    color: #5eac1a;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
