<h2 class="heading1">Welcome to ExamEdge.com!</h2>

<h4 class="heading1">Aptitude questions and answers for your placement interviews and competitive exams!</h4>

<div class="row-row1">
  <div class="mastercard">
    <div class="column" *ngFor="let subject of subjects">
      <div class="card-row">
        <h3 class="subname">{{ subject.name }}</h3>
        <img [src]="subject.logo" class="sublogo">
        <ul>
          <ng-container>
            <a routerLink="/instruction" class="examlinks">
              <li>Basic</li>
            </a>
            <a routerLink="/instruction" class="examlinks">
                <li>Intermidiate</li>
              </a>
              <a routerLink="/instruction" class="examlinks">
                <li>Advance</li>
              </a>
          </ng-container>
        </ul>
      
            
      </div>
    </div>
  </div>
</div>
