<div>
    <nav class="navbar navbar-expand-lg bg-body-secondary" id="mainnav">
        <div class="container-fluid">
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Clients</a>
                <a href="Contact.html   ">Contact</a>
            </div>
            <div id="main">
                <button class="openbtn" onclick="openNav()"><img src="/IMG/Logo4.jpg"></button>
            </div>
        </div>
        <h3 class="userName">UserName</h3>
        <button class="btn1">Logout</button>
    </nav>
</div>
<div id="maincard">
    <div class="card" style="height: 44vh;">
        <div class="container">
            <h4><b>Reports</b></h4>
            <a class="cardlink" href="#">View Reports</a>
            <a class="cardlink" href="#">View All Questions</a>
            <a class="cardlink" href="#">Search Student</a>
        </div>
    </div>
    <div class="card" style="height: 44vh;">
        <div class="container">
            <h4><b>Actions</b></h4>
            <a class="cardlink" href="#">Add Questions</a>
            <a class="cardlink" href="#">Remove Questions</a>
        </div>
    </div>
</div>

<div>
    
</div>

