<body style="background-color:  #00bfe0 0, #4780d8 50%, #00bfe0 100%;">

    <div class="card">
        <div class="container">
            <h1>Registration </h1>
            <hr>
            <label>Name</label><br>
            <input type="text" placeholder="Enter your name"><br>
            <label>Email </label><br>
            <input type="text" placeholder="Enter your email address"><br>
            <label>Phone number</label><br>
            <input type="text" placeholder="Enter your number"><br>
            <label>Password</label><br>
            <input type="text" placeholder="Enter password"><br>
            <label>Reenter the Password</label><br>
            <input type="text" placeholder="Reenter password">

        </div>
        <button>Sign Up</button>
        <div class="message">
            <p>Already have account ? <a href="#">sign in</a></p>
        </div>



