<body style="background-color:  #00bfe0 0, #4780d8 50%, #00bfe0 100%;">

    <div class="card">
        <div class="container">
            <form (ngSubmit)="registration()">
                <h1>Registration </h1>
                <hr>
                <div>
                    <label>Name *</label><br>
                    <div *ngIf="uname.invalid && uname.touched">
                        <div *ngIf="uname.hasError('required')" class="validate">
                            Name is required
                        </div>   
                    </div>

                   

                    <input type="text" placeholder="Enter your name" name="uname" required [(ngModel)]="detail.name"

                        #uname="ngModel" minlength="3"><br>

                </div>
                <div>
                    <label>Email *</label><br>
                    <div *ngIf="uemail.invalid && uemail.touched">
                        <div *ngIf="uemail.hasError('required')" class="validate">
                            Email required
                        </div>
                        <div class="validate" *ngIf="uemail.hasError('pattern')">Wrong email </div>
                    </div>
                    <input type="email" placeholder="Email" name="uemail" required

                      

                        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" [(ngModel)]="detail.emailId"

                        #uemail="ngModel"><br>

                </div>
                <div>
                    <label>Phone number *</label><br>
                    <div class="validate" *ngIf="phoneNo.hasError('minlength')">
                        Phone number should be 10 numbers
                    </div>
                    <input type="text" placeholder="Enter your number" name="phoneNo" required

                       
                        [(ngModel)]="detail.phoneNo" minlength="10" #phoneNo="ngModel"><br>

                </div>
                <div>
                    <label>Password *</label><br>
                    <div *ngIf="upassword.invalid && upassword.touched">
                        <div *ngIf="upassword.hasError('required')" class="validate">
                            Password is required
                        </div>
                        <div *ngIf="upassword.hasError('pattern')" class="validate">Use Special Character
                            number and uppen lower letters</div>
                        <div *ngIf="upassword.hasError('minlength')" class="validate">Minimum Character should
                            be 8</div>

                    </div>

                    

                    <input type="password" placeholder="Enter password" name="upassword" required
                        [(ngModel)]="detail.password" #upassword="ngModel"

                        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}"
                        minlength="8"><br>
                </div>
                <div>
                    <div>
                        <label for="uconfirmPassword">Confirm Password *</label><br>

                        <div class="validate" *ngIf="upassword.value !== uconfirmPassword.value">
                            Password and Confirm Password do not match
                        </div>
                    </div>

                    <input type="password" placeholder="Confirm password" name="uconfirmPassword" required
                        [(ngModel)]="user.confirmPassword" #uconfirmPassword="ngModel">
                </div>
                <button class="btn" type="submit">Register</button>
            </form>
        </div>
        

                    <input type="text" placeholder="Confirm password" name="uconfirmPassword" required
                        [(ngModel)]="detail.confirmPassword" #uconfirmPassword="ngModel">
                </div>
                <!-- <div>
                    <label for="profileImage">Profile Image:</label>
                    <input type="file" id="profileImage" name="profileImage" (change)="handleFileInput($event)" required>
                </div> -->
                <div class="registermsg">
                    <h4>{{msg}}</h4>
                </div>
                <button class="btn" type="submit">Register</button>
            </form>
        </div>


        <div class="message">
            <p>Already have account ? <a routerLink="/login">sign in</a></p>
        </div>