
body{
    /* background-color: #ffe6ff; */
    background-color: #ffffff;
}
.logo{
    height: 55px;
    border-radius: 50%;
}
.card {
    margin: auto;
    background-color: whitesmoke;
    height: 370px;
    width: 420px;
    margin-top: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.title{
    text-align: center;
    font-family: 'Merriweather', serif;
    margin: 7px -1px -17px
}

.l1{
    border-bottom: 1px solid grey;
    margin-left: 26px;  
    margin-right: 26px;  
}


.container {

    text-align: left;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px;
    
}


.credentials{
    display: flex;
    padding: 20px;
}


label{
    margin-left: 27px;
}

.userinput{
    font-family: Arial, Helvetica, sans-serif;
    height: 25px;
    background-color: whitesmoke;
}


.button{
    background-color: #ffc594;
    height: 27px;
    margin-left: 162px;
    width: 114px;
    font-family: Arial, Helvetica, sans-serif;
}

.button:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.l2{
    border-bottom: 1px solid black;
    margin-left: 26px;
    margin-right: 26px;
    margin-top: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.link{
    margin-top: 14px;
    margin-left: 98px;
    
}

.link a{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.link a:hover{
    color: blue
}





