.card{
    margin-top: 50px;
}
form{
    margin: 40px 56px 30px 56px;

}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 30px 0;
  }
  
  .btn-primary {
    background-color: green;
    border-color: green;
    color: white;
  }
  