
<div class="container">
    <h1>Scores</h1>
    <table class="score-table">
        <tr>
            <th>Subject</th>
            <th>Score</th>
            <th>Level</th>
            <th>Attempts</th>
        </tr>
        <tr *ngFor="let m of marks">
            <td>{{m.subject.name}}</td>
            <td>{{m.mark}}</td>
            <td>{{m.attempts}}</td>
            <td><span class="score-level level-high">{{m.level}}</span></td>
        </tr>
        <!-- Add more rows for additional subjects -->
    </table>
</div>